{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        // "useBuiltIns": "usage",
        "targets": {
          "ios": "8",
          "android": "4.4"
        }
      }
    ]
  ]
}
